<h1>Teams</h1>

<%= link_to 'New Team', new_team_path %>

<table class="teams">
  <thead>
    <tr>
      <th>Name</th>
      <th>Members</th>
      <% @indicators.all.each do |indicator| %>
        <th><%= indicator %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team, team %></td>
        <td>
          <ul>
            <% team.users.each do |user| %>
              <li><%= link_to user, user %></li>
            <% end %>
          </ul>
        </td>
        <% @indicators.all.each do |indicator| %>
          <td>
            <p class="team_indicator"><%= team_value(team.value_for_indicator(indicator)) %></p>
            <ul class="indicators">
              <% team.users.each do |user| %>
                <% value = user.value_for_indicator(indicator) %>
                <li class="indicator_value_<%= value %>">
                  <span class="user"><%= link_to user, user %></span>
                </li>
              <% end %>
            </ul>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>