<h1>Users</h1>

<%= link_to 'New User', new_user_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <% @indicators.all.each do |indicator| %>
        <th><%= indicator %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user, user %></td>
        <td><%= link_to user.team, user.team %> </td>
        <% @indicators.all.each do |indicator| %>
          <td class="indicator_value indicator_value_<%= user.value_for_indicator(indicator) %>">
            <%= humanize_log(user.value_for_indicator(indicator)) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>