<!DOCTYPE html>
<html>
<head>
  <title>Team Feedback</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to "Bonjour #{current_user.firstname if current_user}", root_path %></h1>
    <% if current_user %>
      <p>Comment se passe le projet ?</p>
    <% end %>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <h1><a href="https://github.com/arnaudlevy/team-feedback">Team Feedback</a></h1>
    <% if current_user %>
    <nav>
      <ul>
        <% if current_user.admin?  %>
          <li><%= link_to 'Users', users_path %></li>
          <li><%= link_to 'Teams', teams_path %></li>
          <li><%= link_to 'Indicators', indicators_path %></li>
        <% end %>
        <li><%= link_to 'Mon compte', :edit_me %></li>
        <li><%= link_to 'Quitter', :logout, method: :post, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </nav>
    <% end %>
    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>
  </footer>
</body>
</html>
